<div class="col-md-8 offset-md-1">
  <%= flash[:notice] %>
   <h2>　一覧　</h2>
    <div class="main clearfix">
      <% @blogs.each do |blog| %>
      <div class="blog-box">
        <div class = "image-box">
          <%= link_to blog_path(blog) do %>
              <%= attachment_image_tag blog.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %>
          <% end %>
      <% end %>
        </div>
      </div>
    </div>
</div>
    

<%= link_to "new",  new_blog_path(@blogs) %>
 <%= paginate @blogs, class: "paginate" %>