<section class="sct-color-1 slice">
  <div class="container">
    <div class="row">
      <div class="col-md-12 blogs_container">
        <div class="post-item">
          <div class="post-meta-top">
            <div class="blog">
              <%= attachment_image_tag @blog, :image %>
            </div>
          </div>
          <div class="post-content">
            <h2 class="post-title"><%= @blog.title %></h2>
            <ul class="meta-info-cells v4 float-wrapper">
              <li>
                <i class="fa fa-user"></i>
                By<a href="#"><%= @blog.user.name %></a>
              </li>
              <li>
                <i class="fa fa-calendar"></i><%= @blog.created_at.strftime('%Y/%m/%d') %>
              </li>
              <% if @blog.favorited_by?(current_user) %>
                <li>
                  <a href="#">
                    <%= link_to blog_favorites_path(@blog), method: :delete do %>
                      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                      <a href="#"><%= @blog.favorites.count %> いいね</a>
                    <% end %>
                  </a>
                </li>
              <% else %>
                <li>
                  <a href="#">
                    <%= link_to blog_favorites_path(@blog), method: :post do %>
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                      <%= @blog.favorites.count %> いいね
                    <% end %>
                  </a>
                </li>
              <% end %>
              <li>
                <i class="fa fa-comment"></i>
                <a href="#comments"><%= @blog.blog_comments.count %></a>
              </li>
              <li>
                <% if @blog.user == current_user %>
                  <%= link_to "削除", blog_path(@blog), method: :delete %>
                <% end %>
              </li>
            </ul>
            <div class="post-content-inner mt-20">
              <p><%= @blog.sentence %></p>
            </div>
          </div>
          <div class="comment-list bt style-2" id="comments">
            <div class="float-wrapper">
              <h2 class="comment-count"><%= @blog.blog_comments.count %>件コメント</h2>
            </div>
            <ol>
              <% @blog.blog_comments.each do |blog_comment| %>
                <li class="comment">
                  <div class="comment-body bb">
                    <div class="comment-avatar">
                      <div class="avatar">
                        <%= attachment_image_tag blog_comment.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
                      </div>
                    </div>
                    <div class="comment-text">
                      <div class="comment-author clearfix">
                        <a href="#" class="link-author"><%= blog_comment.user.name %></a>
                        <span class="comment-meta">
                          <span class="comment-date"><%= @blog.created_at.strftime('%Y/%m/%d') %></span>
                        </span>
                      </div>
                      <div class="comment-entry"><%= blog_comment.comment %></div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ol>
          </div>
          <hr>
          <div class="section-title-wrapper style-1 v1 mt-30" id="divAddComment">
            <h3 class="section-title left">
              <span>コメント</span>
            </h3>
          </div>
          <%= form_for [@blog, @blog_comment] do |f| %>
            <div class="row">
              <div class="col-sm-12">
                <%= f.text_field :comment, class: "form-control",placeholder: "コメントをここに" %>
              </div>
            </div>
            <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
